@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  .border-outline {
    -webkit-text-stroke: 0.5vw #609CFF;
  }  
}

.top-right-arrow {
  border-left: 1.5vw solid transparent;
  border-top: 1.5vw solid #609CFF;
}

.faq-b-r{
  border-top-width:3px;
}
.faq-t-l{
  border-bottom-width:3px;
}

hr {
  border: 0;
  height: 2px;
}

.terminal-input:focus {
  outline: none;
}

.terminal-input {
  background-color: transparent;
  color: transparent;
  text-shadow: 0 0 0 #E2AA06;
}

/*
.terminal-inputlol {
  -webkit-tap-highlight-color :black;
  content: '_';
  position: absolute;
  color: #3b82f6;  blue-500 
  animation: blink 1s step-end infinite;
}*/
@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}
